{{#if teams}}
<form action="/dashboard" method="post" class="teams-form">
    <ul>
        {{#each teams}}
            <li>
                <label>
                    <input class="teams-form-input" name="{{id}}" id="{{id}}" type="checkbox" value="{{id}}">
                    {{name}}
                </label>
            </li>
        {{/each}}
    </ul>
    <input type="submit" value="Add" class="teams-form-submit-button">
</form>
{{/if}}