<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<main>
    <main>
        <section>
            {{#each userTeams}}
               <article>
                   {{name}}
               </article>
            {{/each}}
        </section>
    </main>
</main>
</body>
</html>