<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
</head>
<body>
<div id="error-page-content">
    <span class="error-message">{{errorMessage}}</span>
    <a class="error-url" href="/">Back to home</a>
</div>
</body>
</html>