<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<main>
    <section class="team-selector">
        <header>
            <img src="images/eredivisie.svg" alt="eredivisie" class="eredivisie-logo">
            <p>
                Add your favorite team!
            </p>
        </header>

        <form action="/" method="get" class="teams-search-form">
            <input id="search-input" name="search" type="text" placeholder="Ajax for example..." value="{{search}}" autocomplete="off">
        </form>
        <div id="teams-form-container">
            {{> teams-form }}
        </div>
        <p>or</p>
        <nav>
            <a href="/dashboard" class="link">To dashboard</a>
        </nav>
    </section>
</main>
<script src="/js/search.js"></script>
</body>
</html>