<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<main>
    <section class="team-selector">
        <header>Add your favorite team!</header>
        <form action="/" method="get">
            <input name="search" type="text" placeholder="Ajax for example...">
        </form>
        {{> teams-form }}
    </section>
</main>
</body>
</html>