:root {
    --color1: #1d3e53;
    --color2: #254b62;
    --color3: #476d7c;
    --color4: #77abb7;
    --default-font-size: 1em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--default-font-size);
    background-color: var(--color2);
    color: white;
}

a {
    text-decoration: none;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}